.landing-page {

  .parallax-content {
    height: 600px;
    width: 1200px;
  }
  .navbar {

    .accent-btn {
      font-weight:600;
      color: color('text', 'base');
      background-color: color('accent');

      &:hover {
        color: color('text', 'light');
        background-color: color('accent', dark);
      }
    }
  }

  .page-container {
    padding-left: 0;
    padding-right: 0;

    .slick-slider {
      // I don't know why but there is a 20px margin between the menu and the content... weird
      margin-top: -20px;

      h3 {
        background: color('foreground', 'light');
        color: color('text', 'light');
        line-height: 350px;
        text-align: center;
      }
    }

    .content {
      margin-top: 45px;
    }
  }

  .parallax-text {
    vertical-align: middle;
    text-align: center;
    font-family: 'Gloria Hallelujah';
  }

  .parallax-white-text {
    color: white;
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
}
