.workspace-text {
  cursor: pointer;
  font-family: 'Permanent Marker';
  user-select: none;

  &.workspace-text-selected {
    filter: url(#dropshadow);
  }

  &:hover {
    filter: url(#dropshadow);
    stroke: color('accent');
    fill: color('accent');
  }
}
