.workspace-text {
  cursor: pointer;
  font-family: 'Permanent Marker';
  user-select: none;

  &.workspace-text-selected {
    filter: url(#dropshadow-curve);
  }


  &.workspace-text-hovered {
    filter: url(#dropshadow-curve);
    stroke: color('accent');
    fill: color('accent');
  }

  &.workspace-text-affected {
    filter: url(#dropshadowGraphic);
    stroke: color(selection, base);
    fill: color(selection, base);
  }
}

.in-simulation {
  .workspace-text {
    cursor: default;
  }
}
