.homepage-dashboard-enter {
  opacity: 0.01;
}

.homepage-dashboard-enter.homepage-dashboard-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.homepage-dashboard-leave {
  opacity: 0;
}

.homepage-dashboard-leave.homepage-dashboard-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.back-to-edit {
  color: color('text', 'light');
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 10%;
  padding: 5px 10px;
  background-color: color('foreground');
  z-index: 1001;
  @include rounded-indiv(0, 0, 2px, 2px);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: color('text', 'medium');
    background-color: color('foreground', 'light');
  }

  .fa {
    margin-right: 10px;
  }
}
