.homepage-dashboard-enter {
  opacity: 0.01;
}

.homepage-dashboard-enter.homepage-dashboard-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.homepage-dashboard-leave {
  opacity: 0;
}

.homepage-dashboard-leave.homepage-dashboard-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.back-to-edit-container {
  $button-height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $button-height + 5px;
  z-index: 1001;

  .back-to-edit {
    color: color('text', 'light');
    font-weight: 600;
    position: absolute;
    top: -$button-height;
    left: 10%;
    padding: 8px 12px;
    background-color: color('foreground');
    @include rounded-indiv(0, 0, 2px, 2px);
    @include transition(top 0.2s ease);

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: color('text', 'medium');
      background-color: color('foreground', 'light');
    }

    .fa {
      margin-right: 10px;
    }

    &.mobile {
      top:  0;
    }
  }

  &:hover {
    .back-to-edit {
      top: 0;
    }
  }
}
