.workspace-flexbox {
  bottom: $footer-height;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: $top-menu-height;
}

.workspace-container {
  flex: 1;
  outline: none;
  overflow: auto;
  padding: 20px;
  @include nice-scrollbars(10px);
}

.in-simulation {
  .workspace-container {
    top: 0;
  }
}

.workspace {
  background-color: color(background, light);
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  @include rounded-equal(2px);
  width: 0;
  height: 0;
  @include box-shadow(0px, 0px, 15px, #000);

  &.desktop {
    width: $page-width;
    height: $page-height;
    margin-left: -$page-width/2;
    margin-top: -$page-height/2;

    &.workspace-modal {
      width: $modal-width;
      height: $modal-height;
      margin-left: -$modal-width/2;
      margin-top: -$modal-height/2;
    }
  }

  &.mobile {
    width: $portait-width;
    height: $portait-height;
    margin-left: -$portait-width/2;
    margin-top: -$portait-height/2;

    &.workspace-modal {
      width: $portait-modal-width;
      height: $portait-modal-height;
      margin-left: -$portait-modal-width/2;
      margin-top: -$portait-modal-height/2;
    }
  }

  &.front {
    z-index: 10;
  }
}

.backdrop {
  @include animation(fadeIn 450ms);
  background: color(background, backdrop);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.loading {
  color: color(text, grey);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  .spinner {
    margin-left: 16px;
    top: 6px;
  }
}

.workspace-text-selected {
  filter: url(#dropshadowAlpha);
}

#textEdit {
  background: transparent;
  border: 0;
  font-family: 'Permanent Marker';

  &:focus {
    outline: none;
    }
}

@import './Text/index';
@import './Shape/index';
@import './SideMenu/index';
