.workspace-line {
  fill: none;
  stroke-width: 3;
  cursor: pointer;

  &:hover, &.workspace-line-selected {
    filter: url(#dropshadow);
  }
}

.in-simulation {
  .workspace-line {
    cursor: default;
  }
}
