.workspace-line {
  fill: none;
  stroke-width: 3;
  cursor: pointer;

  &.workspace-line-selected {
    filter: url(#dropshadowAlpha);
  }

  &.workspace-line-hovered {
    stroke: color('accent');
    filter: url(#dropshadowGraphic);
  }

 &.workspace-line-affected {
    filter: url(#dropshadowGraphic);
    stroke: color(selection, base);
  }

  &.line-padding {
    cursor: pointer;
    stroke-width: 18;
  }
}

.workspace-curve {
  fill: none;
  stroke-width: 3;
  cursor: pointer;

  &.workspace-curve-selected, &.workspace-curve-hovered {
    filter: url(#dropshadow-curve);
  }

  &.workspace-curve-hovered {
    stroke: color('accent');
  }

  &.curve-padding {
    cursor: pointer;
    stroke-width: 18;
  }
}

.in-simulation {
  .workspace-line, .workspace-curve {
    cursor: default;

    &.line-padding, &.curve-padding {
      cursor: default;
    }
  }
}
