.radial-menu-item {
  path {
    @include transition(fill-opacity .3s cubic-bezier(.4, 0, .2, 1));
    fill-opacity: .5;
    stroke: color(background, base);
    stroke-width: 3;

    &:hover {
      fill-opacity: .75;
    }

    & + image {
      @include transition(fill-opacity .3s cubic-bezier(.4, 0, .2, 1));
      opacity: .5;
      pointer-events: none;
      height: 48px;
      width: 48px;
    }

    &:hover + image {
      opacity: .75;
    }

  }
};
