@import "./variables.scss";
@import "./mixins.scss";

html {
  box-sizing: border-box;
  background-color: color('background');
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

@font-face {
  font-family: 'Geomanist';
  src: url('../../assets/fonts/Geomanist-Regular.otf');
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('../../assets/fonts/Helvetica-Light.ttf');
}

body {
  color: color('text');
  background-color: color('background') !important;
  font-family: 'Geomanist', 'Helvetica Light', sans-serif !important;
}

#app {
  @import './bootstrap-override.scss';

  .page-container {
    padding-top: 50px;
  }

  /* Local CSS */

  @import './common/index';
  @import './Login/index';
}
