@import "./variables.scss";
@import "./mixins.scss";

html {
  box-sizing: border-box;
  background-color: color('background');
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('../../assets/fonts/Helvetica-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('../../assets/fonts/PermanentMarker.ttf') format('truetype');
}

body {
  color: color('text');
  background-color: color('background') !important;
  font-family: 'Roboto', 'Helvetica Light', sans-serif !important;

  @import './bootstrap-override.scss';
  @import './popup';
  @import './react-context-menu';
}
@import './Home/index.scss';

#app {

  .page-container {
    padding-top: $top-menu-height;
  }

  /* Local CSS */

  @import './common/index';
  @import './Login/index';
  @import './Workspace/index';
}
