/* COLORS */
$colors: (
  'primary': (
    'base': #8e3329,
    'light': #d9534f,
    'dark': #c9302c
  ),
  'accent': (
    'base': #d98328,
    'light': #dd8f3d,
    'dark': #c57623
  ),
  'secondary': (
    'base': #5a1321,
    'light': #7b1a2d,
    'dark': #51111e
  ),
  'foreground': (
    'base': #191919,
    'light': #333333,
    'dark': #111111
  ),
  'background': (
    'base': #e9e9e9,
    'light': #ffffff,
    'dark': #dddddd,
    'backdrop': hsla(0, 0%, 0%, 0.5),
  ),
  'text': (
    'base': #111111,
    'grey': #808080,
    'light': #e9e9e9,
    'medium': #a0b3b0,
    'dark': #000000
  )
);

@function color($key: 'primary', $tone: 'base') {
  @return map-get(map-get($colors, $key), $tone);
}

/* SIZES */
$left-menu-width: 15%;
$base-padding-size: 15px;
$top-menu-height: 50px;
$footer-height: 46px;
$add-page-button-size: 48px;
$page-width: 1024px;
$page-height: 768px;
$modal-width: 512px;
$modal-height: 256px;
$portait-width: 320px;
$portait-height: 480px;
$portait-modal-width: 300px;
$portait-modal-height: 200px;
