/* COLORS */
$colors: (
  'primary': (
    'base': #FF7D19,
    'light': #FF6F00,
    'dark': #EB6601
  ),
  'accent': (
    'base': #00BCD4,
    'light': #80DEEA,
    'dark': #00838F
  ),
  'secondary': (
    'base': #D41A03,
    'light': #FF5744,
    'dark': #871102
  ),
  'foreground': (
    'base': #191919,
    'light': #333333,
    'dark': #111111
  ),
  'background': (
    'base': #e9e9e9,
    'light': #ffffff,
    'dark': #dddddd,
    'backdrop': hsla(0, 0%, 0%, 0.5),
  ),
  'text': (
    'base': #111111,
    'grey': #808080,
    'light': #e9e9e9,
    'medium': #a0b3b0,
    'dark': #000000,
    'label': rgba(0, 0, 0, .298039),
  ),
  'selection': (
    'base': #00B8D1,
  ),
);

@function color($key: 'primary', $tone: 'base') {
  @return map-get(map-get($colors, $key), $tone);
}

/* SIZES */
$left-menu-width: 256px;
$base-padding-size: 15px;
$top-menu-height: 50px;
$footer-height: 46px;
$add-page-button-size: 48px;
$page-width: 1024px;
$page-height: 768px;
$modal-width: 512px;
$modal-height: 256px;
$portait-width: 320px;
$portait-height: 480px;
$portait-modal-width: 300px;
$portait-modal-height: 200px;
