@import './Control/index';

.simulation-container {
  padding: 20px;
  position: relative;
  z-index: 5;
  outline: none;

  &.desktop {
    width: $page-width;
    height: $page-height;

    &.workspace-modal {
      width: $modal-width;
      height: $modal-height;
    }
  }

  &.mobile {
    width: $portait-width;
    height: $portait-height;

    &.workspace-modal {
      width: $portait-modal-width;
      height: $portait-modal-height;
    }
  }

  &.modalSimulation {
    z-index: 10;
    background-color: color('background', 'backdrop');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .workspace {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -$modal-width/2;
      margin-top: -$modal-height/2;
      background-color: color('background', 'light');
      width: $modal-width;
      height: $modal-height;
    }
  }
}

// React transition group properties
.simulation-enter {
  opacity: 0.01;
}

.simulation-enter.simulation-enter-active {
  opacity: 1;
  @include transition(opacity 0.2s ease);
}

.simulation-leave {
  opacity: 1;
}

.simulation-leave.simulation-leave-active {
  opacity: 0.01;
  @include transition(opacity 0.2s ease-in);
}

.simulation-appear {
  opacity: 0.01;
  @include transition(opacity 0.2s ease-in);
}

.simulation-appear.simulation-appear-active {
  opacity: 1;
}

.simulation-appear {
  opacity: 0.01;
  @include transition(opacity 0.2s ease-in);
}

.simulation-appear.simulation-appear-active {
  opacity: 1;
}
