.drawer-toggle {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: right top 0;
  top: 200px;
  right: -32px;
  @include box-shadow(0px, 0px, 0px, #000, false);
  @include rounded-indiv(0, 2px, 0, 2px);

  .fa {
    margin-right: 8px;
  }
}
