$drawer-width: 230px;

.drawer {
  display: table-cell;
  position: relative;
  width: 0;
  background-color: color('background', 'light');
  padding: 0;
  vertical-align: top;
  z-index: 50;
  @include transition(width 0.2s);

  .drawer-content {
    width: 0;
    opacity: 0;
    @include transition(all 0.2s);
  }

  .drawer-toggle {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right top 0;
    top: 200px;
    right: -32px;
    font-weight: bold;
    outline:0;
    @include box-shadow(0px, 0px, 0px, #000, false);
    @include rounded-indiv(0, 2px, 0, 2px);

    .fa {
      margin-right: 8px;
      @include transition(transform 0.2s linear);
    }
  }

  &.drawer-open {
    width: $drawer-width;
    padding: 17px;

    .drawer-content {
      width: 100%;
      opacity: 1;
    }

    .drawer-toggle {
      .fa {
        transform: rotate(180deg);
      }
    }
  }
}
