footer#footer {
  @include transition(transform .3s cubic-bezier(0.0, 0.0, 0.2, 1));
  background-color: color('foreground', 'dark');
  height: $footer-height;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  &.footer-hidden {
    opacity: 0;
    transform: translateY($footer-height);
  }

  .container {
    position: relative;

    .tabs-container {
      position: absolute;
      left: 0;
      right: 60px;
      overflow: auto;
      overflow-y: hidden;
      height: $add-page-button-size - 6px;
      @include nice-scrollbars;

      .tabs-slider {
        width: 9999px;

        .btn.page-tab {
          @include rounded-indiv(0px, 0px, 2px, 2px);
          font-weight: 600;
          @include box-shadow(0px, 0px, 0px, #000, true);
          outline: none;

          &--active {
            background-color: color('background');
            cursor: default;
            @include box-shadow(0px, 0px, 0px, #000, true);

            &:hover {
              background-color: color('background');
            }
          }

          .fa {
            margin-left: 7px;
          }
        }
      }
    }

    .addPageMenu {
      left: 37px !important;

      div {
        border-radius: 2px !important;

        // Important is necessary, because I'm overriding inline styles
        button, .smallButton div, .smallButton span {
          border-radius: 2px !important;
          width: $add-page-button-size !important;
          height: $add-page-button-size !important;

          div {
            height: 100% !important;
            background-color: color('accent') !important;

            svg {
              height: 100% !important;
              line-height: 100% !important;
            }
          }
        }
      }

      .addPageBackdrop {
        background: none;
        left: 0;
        > a {
          background: none !important;
        }
      }
    }
  }
}
