footer#footer {
  background-color: color('foreground', 'dark');
  height: $footer-height;
  padding-left: $left-menu-width + $base-padding-size;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  .btn.page-tab {
    @include rounded-indiv(0px, 0px, 2px, 2px);
    font-weight: 600;

    &--active {
      background-color: color('background');
      cursor: default;
      @include box-shadow(0px, 0px, 0px, #000, true);

      &:hover {
        background-color: color('background');
      }
    }
  }
}
